/* =Typography
-----------------------------------------------------------------------------*/
body {
  font-family: 'Merriweather', Georgia, 'Times New Roman', Times, Serif;
  font-size: 0.85em;
  line-height: 1.5em;
  background-color: #faf8f8;
}

pre>code {
  font-family: 'Hack', 'Source Code Pro', 'Courier New', 'Courier', monospace;
}

form,
input[type="search"],
select[multiple="multiple"] {
  font-family: 'Fira Sans', 'Trebuchet MS', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Fira Sans', 'Trebuchet MS', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #36454f;
  font-weight: bold;
}

h1 {
  font-size: 1.5em;
  padding-bottom: 1em;
  line-height: 1.6em;
}

h2 {
  font-size: 1.3em;
  border-bottom: 1px solid #b3cde0;
}

h2 a {
  border-bottom: none;
}

h3 {
  font-size: 1.1em;
}

h6 {
  font-size: 0.8em;
}

a {
  color: #36454f;
  text-decoration: none;
  border-bottom: dotted 1px #A1A3A1;
}

a:hover {
  text-decoration: underline;
}

hr {
  border-top: 1px solid #b3cde0;
  margin-top: 5ex;
  margin-bottom: 5ex;
  max-width: 100%;
}

blockquote {
  color: #36454f;
  background: #e9e9e9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  font-style: normal;
  font-size: 95%;
}

blockquote p {
  color: #36454f;
  display: inline;
}

blockquote:before {
  color: #aaa;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

th {
  background-color: #bbbbbb;
}

td {
  background-color: #eeeeee;
}

table th,
table td {
  border-bottom: 1px solid #cccccc;
  padding: 0.2em .2em;
}

ul {
  list-style: square;
}

dd {
  margin-left: 2em;
}


/* =Code
-----------------------------------------------------------------------------*/
pre,
code,
kbd,
samp,
var,
output {
  font-size: 90%;
  font-style: normal;
  font-family: 'Source Code Pro', "Lucida Console", "Courier New", monospace;
}

nav,
.footer {
  font-family: 'Fira Sans', 'Trebuchet MS', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 100%;
}

/* Badges */

a.badge.badge-red {
  color: #fff;
}

a.badge.badge-blue {
  color: #fff;
}

a.badge.badge-green {
  color: #fff;
}

.badge-large {
  font-size: 18px !important;
  text-transform: none !important;
  padding: 5px 5px 3px 5px;
  text-transform: none;
  font-family: 'Fira Sans', 'Trebuchet MS', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.badge {
  font-family: 'Fira Sans', 'Trebuchet MS', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.label,
.badge {
  background: #e0e3e5;
  font-size: 12.75px;
  display: inline-block;
  line-height: 1;
  padding: 4px 7px 3px 7px;
  color: #0f0f0f;
  text-align: center;
  font-weight: normal;
  text-transform: uppercase;
}

.label-outline {
  background: none;
  border: 1px solid #0f0f0f;
  padding: 3px 6px 2px 6px;
}

.badge {
  border-radius: 15px;
}

.badge-small {
  font-size: 11.25px;
  padding: 5px 5px 3px 5px;
}

.label-black,
.label-blue,
.label-red,
.label-green,
.badge-black,
.badge-blue,
.badge-red,
.badge-green {
  color: #ffffff;
}

.label-black,
.badge-black {
  background: #0f0f0f;
}

.label-blue,
.badge-blue {
  background: #4673B8;
}

.label-red,
.badge-red {
  background: #BD666D;
}

.label-green,
.badge-green {
  background: #2c9f42;
}

.label-yellow,
.badge-yellow {
  background: #ffc800;
}

.label-white,
.badge-white {
  background: #ffffff;
}

.image-left {
  float: left;
  margin: 0 1em 1em 0;
}

.fa-ul>li {
  margin: 0.5em;
}

.quarto-title-meta {
  font-family: 'Fira Sans', 'Trebuchet MS', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}


.video-player {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

/* Then style the iframe to fit in the container div with full height and width */
.youtube-player {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.quarto-listing-category.category-cloud {
  font-family: 'Fira Sans', 'Trebuchet MS', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}

.figure-caption {
  color: var(--darkgray);
  background-color: var(--lightgray);
  padding-left: 20px;
  font-size: 12pt;
  font-family: "Fira Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

div.quarto-about-trestles .about-entity .about-link:hover {
  background-color: #36454f;
  color: #ebebeb;
}

.quarto-category:hover, .listing-category:hover {
  background-color: #36454f;
  color: #ebebeb !important;
  opacity: .6;
}

.quarto-category, .listing-category, .listing-actions-group, .about-link-text {
  font-family: "Fira Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
